<html>
  <head>
    <meta charset="utf-8" />
  </head>

  <body>
    <header class="header">
      <div class="header-container">
        <div class="header-title"><strong>Cotización</strong> de unidad</div>
        <div class="header-img">
          <img
            width="auto"
            height="32px"
            src="https://heicommunityquotes.blob.core.windows.net/realtor/crwb2.png"
            alt="Cotizador Web"
          />
        </div>
      </div>
    </header>
    <div class="content">
      <h1>HEI Travel</h1>
      <div>
        <table cellspacing="0" class="col-3 left">
          <thead>
            <tr>
              <th><span class="indent-left" />Utilidad del propietario</th>
              <th>USD {0}</th>
              <th>MXN {1}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span class="indent-left" />Inversión total</td>
              <td>{2}</td>
              <td>{3}</td>
            </tr>
            <tr>
              <td><span class="indent-left" />Tarifa promedio por noche</td>
              <td>{4}</td>
              <td>{5}</td>
            </tr>
            <tr>
              <td><span class="indent-left" />Ingresos</td>
              <td>{6}</td>
              <td>{7}</td>
            </tr>
            <tr>
              <td><span class="indent-left" />Operación (egresos)</td>
              <td>{8}</td>
              <td>{9}</td>
            </tr>
            <tr>
              <td><span class="indent-left" />Fee HEI Travel</td>
              <td>{10}</td>
              <td>{11}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div style="height: 30px"></div>

      <p class="xsmall" style="margin-top: 30px">
        EL PRESENTE DOCUMENTO ES UNICAMENTE DE CARACTER INFORMATIVO Y DE
        REFERENCIA PERSONAL Y BAJO NINGUNA CIRCUNSTANCIA SERÁ CONSIDERADO COMO
        VINCULANTE POR TRATARSE DE ESTIMACIONES SUJETAS A VARIACION
      </p>
    </div>
  </body>
</html>
